<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/uri">TF Uri Shortener</a>
        </div>
        <div class="navbar-collapse collapse">
            <my-login></my-login>
        </div>
    </div>
</div>
<div class="container body-content">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>