<div>
    <form (ngSubmit)="onSubmit()" name="uriForm" #uriForm="ngForm">
        <div class="col-md-8 col-md-offset-2 margin" id="uri-div">
            <div class="margin">
                <input type="url" [readonly]="generated || inProgress" #inputLink id="inputLink" name="inputLink" class="form-control text-center" 
                       required [(ngModel)]="link" placeholder="http://example.com">
                <p *ngIf="inputLink.errors?.url">Not a valid Url</p>
            </div>
            <div [hidden]="generated" class="margin col-md-8 col-md-offset-2">
                <button type="submit" class="btn btn-success uriBtn" 
                        [disabled]="!uriForm.form.valid || inProgress" [class.btn-progress]="inProgress">Shorten!</button>
            </div>
            <div [hidden]="!generated" class="margin col-md-8 col-md-offset-2">
                <button type="button" class="btn btn-default uriBtn" ngxClipboard [cbContent]="link">Copy to Clipboard.</button>
            </div>
            <div class="alert alert-danger col-md-8 col-md-offset-2" [hidden]="!error">
                <span class="col-md-8 col-md-offset-2 text-center">{{errorText}}</span>
            </div>
        </div>
    </form>
</div>